body {
  background-image:url(/img/carretera.jpg) ;
}

.tittle h1 {
  background-color: white;
  font-family: Calibri;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  width: 500px;
  height: 40px;
  border-radius: 10px;
  
}
.tittle {
  display: flex;
  justify-content:space-between;
}


.logo{
  display: flex;
  position: fixed;
  margin-top:633px;
  margin-left:1400px;
  
}

.txt p {
  background-color: white;
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 40px;
  width: 400px;
  height: 225px;
  position: relative;
  top: 20px;
  font-family: arial;
  display: inline-block;
  border-radius: 10px;
}
.logo img {
  width: 100px;
  height: 80px;
}

.tt2 h1{
    background-color: white;
    font-family: Calibri;
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 10px;
}

.character p{
    background-color: white;
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 40px;
    width: 400px;
    height: 60px;
    position: relative;
    top: 20px;
    font-family: arial;
    display: inline-block;
    border-radius: 10px;
}

.character img {
    border-radius:10px ;
}

.director h1{
  background-color: white;
  font-family: Calibri;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  border-radius: 10px;
}

.director p{
    background-color: white;
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 40px;
    position: relative;
    top: 20px;
    font-family: arial;
    display: inline-block;
    border-radius: 10px;
}

.director img{
   margin-top: 30px;
   border-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.dondeVer h1{
  background-color: white;
  font-family: Calibri;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  border-radius: 10px;
}

.table{
  display: flex;
  align-content: center;
  justify-content: center;
}

.table table {
  background-color: white;
  font-family:Calibri;
}

.med h1{
  background-color: white;
  font-family: Calibri;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  border-radius: 10px;

}

.container2 img{
  width:400px;
  height:400px;
  margin-top: 30px;
  border-radius: 10px;
  margin-left:30px;

}

.container2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

      
form {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color:white;
  border-radius: 10px;
  
}

h1 {
  background-color: white;
  font-family: Calibri;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  border-radius: 10px;
  
}

input[type="range"] {
  width: 100%;
  
}

textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  
}

h2 {
  margin-top: 30px;
  font-family: Calibri;
}

input[type="text"], input[type="email"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Calibri;
}

